<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('index') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>lx</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>S</b>ilex</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!--

                 AQUI Social

                 -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="
                        {% if app.session.get('user').user.avatar|length > 0 %}
                                {{ app.session.get('user').user.avatar }}
                            {% else %}
                                {{ app['application.default.user.avatar'] }}
                            {% endif %}
                        " class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ app.session.get('user').user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="
                            {% if app.session.get('user').user.avatar|length > 0 %}
                                {{ app.session.get('user').user.avatar }}
                            {% else %}
                                {{ app['application.default.user.avatar'] }}
                            {% endif %}
                            " class="img-circle" alt="User Image">
                            <p>
                                {{ app.session.get('user').user.username }} - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path('profile', { idUser : app.session.get('user').user.id }) }}" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>


                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>